@{
    ViewData["Title"] = "Home Page";
    int n = 18;
}

<div class="main_container">
    <div class="searched_container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form>
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Категории</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" name="x" id="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept2">Город</span> <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                <li><a href="#">metaviewport Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                                <li><a href="#">Automotive Accesories</a></li>
                                <li><a href="#">Cell Phone Accesories</a></li>
                                <li><a href="#">Computer Accesories</a></li>
                                <li><a href="#">Health and Personal Care</a></li>
                            </ul>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h1>Рекомендуемое</h1>
    <content class="product_list">
        @for (int i = 0; i < 100; i++)
        {
            <div class="product_container">
                <img src="https://assets.sygns.com/products/testimonials/testimonial_figma-logo.webp" />
                <a href="#">Цепь арго</a>
                <p>1000 руб.</p>
                <p>г.Перьм, ул. Петрова, д.5, кв. 16</p>
                <p>Индекс: @i</p>
            </div>
        }
    </content>

    <div class="pagination">
        <button class="prev_page">&laquo;</button>
        <span class="page_number">1</span>
        <span class="page_number">2</span>
        <span class="page_number">3</span>
        <span class="page_number">4</span>
        <span class="page_number">5</span>
        <button class="next_page">&raquo;</button>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var productsPerPage = @n;

            showProducts(currentPage);

            $('.pagination').on('click', '.page_number', function () {
                currentPage = parseInt($(this).text());
                showProducts(currentPage);
            });

            $('.pagination').on('click', '.prev_page', function () {
                if (currentPage > 1) {
                    currentPage--;
                    showProducts(currentPage);
                }
            });

            $('.pagination').on('click', '.next_page', function () {
                var numPages = Math.ceil($('.product_container').length / productsPerPage);
                if (currentPage < numPages) {
                    currentPage++;
                    showProducts(currentPage);
                }
            });

            function showProducts(page) {
                var startIndex = (page - 1) * productsPerPage;
                var endIndex = startIndex + productsPerPage;

                $('.product_container').hide();

                $('.product_container').slice(startIndex, endIndex).show();

                $('.page_number').removeClass('active');
                $('.page_number').eq(page - 1).addClass('active');
            }
        });
    </script>
}