<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AVS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div>
            <a href="/PersonalAccount/"> Войти в личный кабинет</a>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="help">
            <a>Услуги</a>
            <a>О нас</a>
            <a>Блог</a>
            <a>Контакты</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
