@using AVS.Models;
@model User;
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main>
        <div class="personal_info">
            <div>
                <img/>
                <p>Name</p>
            </div>>
            <div>

            </div>
        </div>        
    </main>
</body>
